<div id="about-animation-primary"><div id="about-animation-secondary"></div></div>
<main id="main2">

  <!-- HOME XS -->

  <div class="home-container-xs d-flex flex-column d-xl-none align-items-center">
    <img class="d-flex" src="./assets/faceMobile.png" alt="A Smaller Self Portrait" />
    <p class="d-flex">Full-Stack <br> Developer</p>
    <div class="home-container-xs-logos d-flex flex-row">
      <a href="https://github.com/AndrewMoses1"><img class="d-flex" src="./assets/gitHub.png" alt="A GitHub Logo" /></a>
      <a href="mailto:Andrew.Moses.Smith@gmail.com"><img class="d-flex" src="./assets/google.png" alt="A Google Logo" /></a>
    </div>
    <div class="d-flex">
      <img class="d-flex" src="./assets/mobile1st.png" alt="A Logo That Says Mobile 1st Development" />
      <img class="d-flex" src="./assets/crossBrowser.png" alt="A Logo That Says Cross-Browser Compatibility" />
    </div>
    <div class="home-container-xs-info d-flex flex-column align-items-center">
      <p class="d-flex">Build websites <br> that convert</p>
      <p class="d-flex">Finding the right balance between design <br> aesthetics and conversion optimization is <br> crucial in web development. &nbsp;This entails <br> creating visually appealing websites that also <br> prioritize elements like user experience and <br> strategic content placement to maximize <br> conversion rates and overall engagement.</p>
      <div class="d-flex flex-row">
        <button class="d-flex btn" (click)="downloadCV()">Download CV</button>
        <button class="d-flex btn" (click)="scrollToContact()">Contact Info</button>
      </div>
    </div>
  </div>

  <!-- HOME XL -->

  <div class="home-container-xl container d-none d-xl-flex flex-column align-items-center">
    <div class="home-container-xl-1stchild container d-flex flex-row align-items-center justify-content-between">
      <div class="home-container-xl-info d-flex flex-column">
        <p class="d-flex">Build high converting websites <br> that captivate</p>
        <p class="d-flex">Finding the right balance between design aesthetics and conversion optimization is <br> crucial in web development. &nbsp;This entails creating visually appealing websites that <br> also prioritize elements like user experience and strategic content placement to <br> maximize conversion rates and overall engagement.</p>
        <div class="d-flex flex-row">
          <button class="btn d-flex" (click)="downloadCV()">Download CV</button>
          <button class="btn d-flex" (click)="scrollToContact()">Contact Info</button>
        </div>
        <div class="d-flex flex-row">
          <img class="d-flex" src="./assets/mobile1st.png" alt="An Image That Says Mobile 1st Development" />
          <img class="d-flex" src="./assets/crossBrowser.png" alt="An Image That Says Cross-Browser Compatibility" />
        </div>
      </div>
      <div class="home-container-xl-portrait d-flex flex-column">
        <img class="d-flex" src="./assets/faceDesktop.png" alt="A Bigger Self Portrait" />
        <p class="d-flex position-absolute">Andrew</p>
        <p class="d-flex position-absolute">Smith</p>
        <p class="d-flex position-absolute">Full-Stack <br> Developer</p>
        <div class="home-container-xl-logos d-flex flex-row position-absolute">
          <a href="mailto:Andrew.Moses.Smith@gmail.com"><img class="d-flex" src="./assets/google.png" alt="A Google Logo" /></a>
          <a href="https://github.com/AndrewMoses1"><img class="d-flex" src="./assets/gitHub.png" alt="A GitHub Logo" /></a>
        </div>
        <img class="d-flex position-absolute" src="./assets/emblem.png" alt="An Emblem Shaped Clipart" />
        <p class="d-flex position-absolute">1+ year <br> of experience</p>
      </div>
    </div>
    <div class="home-container-xl-techStack d-flex flex-row">
      <p class="d-flex">Tech Stack &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |</p>
      <img class="d-flex" src="./assets/htmlCss.png" alt="A CSS And HTML Clipart" />
      <img class="d-flex" src="./assets/typescript.png" alt="A Typescript Clipart" />
      <img class="d-flex" src="./assets/angular.png" alt="An Angular Logo" />
      <img class="d-flex" src="./assets/bootstrap.svg" alt="A Bootstrap Logo" />
      <img class="d-flex" src="./assets/photoshop.png" alt="An Adobe Photoshop Logo" />
      <img class="d-flex" src="./assets/animate.png" alt="An Adobe Animate Logo" />
      <img class="d-flex" src="./assets/sass.png" alt="A Sass Logo" />
    </div>
  </div>


  
  <!-- ABOUT XS-->

  <div class="about-container-xs d-flex flex-column d-xl-none align-items-center justify-content-center">
    <p>Find out more</p>
    <p>About Me</p>
    <img src="./assets/sidePortrait.jpg" alt="A Sideview Self Portrait" />
    <p>I'm an aspiring web designer. &nbsp;My creativity and immense passion 
      for programming drive me to learn something new everyday. &nbsp;I enjoy what I do and look forward to bringing 
      value to a team as well as learning from others.&nbsp; I believe every project is different and calls for its own 
      unique approach. &nbsp;Sometimes adding visual flair gives the layout its appeal and other times keeping it simple 
      is the best way to go.</p>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="./assets/graduation.png" alt="A Graduation Cap Clipart" />
      <h1>Education</h1>
      <p>B.A. Psychology and Sociology</p>
      <p>M.Sc. Information Technology</p>
      <p>( 2 classes remaining / 4.0 GPA )</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <img src="./assets/checkmark.png" alt="A Checkmark Clipart" />
      <h1>Experience</h1>
      <p>1+ year</p>
      <p>Full-Stack Web Development</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <img src="./assets/lightbulb.jpg" alt="A Checkmark Clipart" />
      <h1>Skills</h1>
      <h2>Front-End Development</h2>
      <p>· HTML - CSS - Javascript ·</p>
      <p>· Angular - React - Vue ·</p>
      <h3>Back-End Development</h3>
      <p>· Spring Boot - .NET - Django ·</p>
      <p>· Azure - AWS - Google Cloud ·</p>
      <h4>Miscellaneous</h4>
      <p>· Adobe Products - GitHub/Git ·</p>
      <p>· Procreate - Graphic Design ·</p>
    </div>
  </div>

  <!-- ABOUT XL -->

  <div class="about-container-xl d-none d-xl-flex flex-column align-items-center justify-content-center">
    <p>Find out more</p>
    <p>About Me</p>
    <div class="about-container-xl-first-div d-flex flex-row">
      <img class="about-container-xl-sidePortrait" src="./assets/sidePortrait.jpg" alt="A Sideview Self Portrait" />
      <div class="d-flex flex-column">
        <p>I'm an aspiring web designer. &nbsp;My creativity and immense passion for programming <br> drive me to learn something new everyday. &nbsp;I enjoy what I do and look forward to <br> bringing value to a team as well as learning from others.&nbsp; I believe every project is <br> different and calls for its own unique approach. &nbsp;Sometimes adding visual flair gives <br> the layout its appeal and other times keeping it simple is the best way to go.</p>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="./assets/graduation.png" alt="A Graduation Cap Clipart" />
            <h1>Education</h1>
            <p>B.A. Psychology and Sociology</p>
            <p>M.Sc. Information Technology</p>
            <p>(2 classes remaining)</p>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="./assets/checkmark.png" alt="A Checkmark Clipart" />
            <h1>Experience</h1>
            <p>1+ year</p>
            <p>Full-Stack Web Development</p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-container-xl-skills-div d-flex flex-column justify-content-center align-items-center">
      <img src="./assets/lightbulb.jpg" alt="A Lightbulb Clipart" />
      <h1>Skills</h1>
      <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="./assets/frontEnd.png" alt="A Monitor Clipart" />
          <h1>Front-End Development</h1>
          <p>· HTML - CSS - Javascript ·</p>
          <p>· Bootstrap - Tailwind ·</p>
          <p>· Sass - SCSS ·</p>
          <p>· Angular ·</p>
          <p>· React ·</p>
          <p>· Vue ·</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="./assets/backend.png" alt="An Application Clipart" />
          <h1>Back-End Development</h1>
          <p>· Spring Boot ·</p>
          <p>· ASP.NET Core ·</p>
          <p>· Django ·</p>
          <p>· Azure ·</p>
          <p>· AWS ·</p>
          <p>· Google Cloud ·</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="./assets/tools.jpg" alt="Clipart of Tools" />
          <h1>Miscellaneous Skills</h1>
          <p>· Adobe Illustrator ·</p>
          <p>· Adobe Photoshop ·</p>
          <p>· Adobe Animate ·</p>
          <p>· Adobe Premiere Pro ·</p>
          <p>· Procreate App ·</p>
          <p>· Graphic Design ·</p>
        </div>
      </div>
    </div>
  </div>

  <!-- PROJECTS XS-->

  <div class="projects-container-xs d-flex flex-column d-xl-none align-items-center justify-content-center">
    <p>View my recent</p>
    <p>Projects</p>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <a href="https://fitmode-production.up.railway.app/"><img src="./assets/fitModeMobile.png"></a>
      <div class="d-flex flex-row align-items-center justify-content-center">
        <a href="https://github.com/AndrewMoses1/FitMode1"><button class="btn btn-light text-dark border-dark">View Source</button></a>
        <a href="https://fitmode-production.up.railway.app/"><button class="btn btn-dark">View Live</button></a>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <a href="https://friendly-croissant-b1eee9.netlify.app/"><video playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop" id="imgP30"> <source src="https://artistix.blob.core.windows.net/artistix/artistix8.mp4" type="video/mp4"> </video></a>
      <div class="d-flex flex-row align-items-center justify-content-center">
        <a href="https://github.com/AndrewMoses1/Artistix"><button class="btn btn-light text-dark border-dark">View Source</button></a>
        <a href="https://friendly-croissant-b1eee9.netlify.app/"><button class="btn btn-dark">View Live</button></a>
      </div>
    </div>
  </div>

  <!-- PROJECTS XL -->

  <div class="projects-container-xl d-none d-xl-flex flex-column align-items-center justify-content-center">
    <p>View my recent</p>
    <p>Projects</p>
    <div class="d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column">
        <a href="https://friendly-croissant-b1eee9.netlify.app/"><video playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop" id="imgP0"> <source src="https://artistix.blob.core.windows.net/artistix/artistix6.mp4" type="video/mp4"> </video></a>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <a href="https://github.com/AndrewMoses1/Artistix"><button class="btn btn-light text-dark">View Source</button></a>
          <a href="https://friendly-croissant-b1eee9.netlify.app/"><button class="btn btn-dark">View Live</button></a>
        </div>
      </div>
      <div class="d-flex flex-column">
        <a href="https://fitmode-production.up.railway.app/"><img id="imgP7" src="./assets/fitModeDesktop.png"></a>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <a href="https://github.com/AndrewMoses1/FitMode1"><button class="btn btn-light text-dark">View Source</button></a>
          <a href="https://fitmode-production.up.railway.app/"><button class="btn btn-dark">View Live</button></a>
        </div>
      </div>
    </div>
    <div class="projects-bg-shape1 position-absolute"></div>
    <div class="projects-bg-shape2 position-absolute"></div>
    <div class="projects-bg-shape3 position-absolute"></div>
    <img class="projects-bg-shape4 position-absolute" src="./assets/smallerShape.png" alt="A Smaller Shaped Clipart" />
  </div>


  <!-- CONTACT XS-->

  <div class="contact-container-xs d-flex flex-column d-xl-none align-items-center justify-content-center">
    <p>Different ways to</p>
    <p>Contact Me</p>
    <div class="d-flex flex-column">
      <a href="mailto:Andrew.Moses.Smith@gmail.com"><p>Andrew.Moses.Smith@gmail.com</p></a>
      <a href="mailto:Andrew.Moses.Smith@gmail.com"><p>Primary Email</p></a>
    </div>
    <div class="d-flex flex-column">
      <p>Andy.Smith@snhu.edu</p>
      <p>Secondary Email</p>
    </div>
    <div class="d-flex flex-column">
      <p>(760) 983-8614</p>
      <p>Phone Number</p>
    </div>
    <div class="d-flex flex-column">
      <p>13012 Fir Ridge Ct <br>
      Victorville, CA 92392</p>
      <p>Home Address</p>
    </div>
    <div class="d-flex flex-column">
      <a href="https://github.com/AndrewMoses1"><p>https://github.com/AndrewMoses1</p></a>
      <a href="https://github.com/AndrewMoses1"><p>GitHub Repo</p></a>
    </div>
  </div>

  <!-- CONTACT XL -->

  <div class="contact-container-xl d-none d-xl-flex flex-column align-items-center justify-content-center">
    <p>Different ways to</p>
    <p>Contact Me</p>
    <div class="d-flex flex-row contact-container-xl-slide1">
      <a href="mailto:Andrew.Moses.Smith@gmail.com"><p>Andrew.Moses.Smith@gmail.com</p></a>
      <a href="mailto:Andrew.Moses.Smith@gmail.com"><p>Primary Email</p></a>
    </div>
    <div class="d-flex flex-row contact-container-xl-slide2">
      <a href="mailto:Andrew.Moses.Smith@gmail.com"><p>Andy.Smith@snhu.edu</p></a>
      <a href="mailto:Andrew.Moses.Smith@gmail.com"><p>Secondary Email</p></a>
    </div>
    <div class="d-flex flex-row contact-container-xl-slide3">
      <p>(760) 983-8614</p>
      <p>Phone Number</p>
    </div>
    <div class="d-flex flex-row contact-container-xl-slide4">
      <p>13012 Fir Ridge Ct <br>
      Victorville, CA 92392</p>
      <p>Home Address</p>
    </div>
    <div class="d-flex flex-row contact-container-xl-slide5">
      <a href="https://github.com/AndrewMoses1"><p>https://github.com/AndrewMoses1</p></a>
      <a href="https://github.com/AndrewMoses1"><p>GitHub Repo</p></a>
    </div>
  </div>

  <!-- FOOTER -->
  
  <footer>
    <div class="d-flex align-items-center justify-content-between">
      <a href="https://github.com/AndrewMoses1"><img class="d-none d-xl-flex" src="./assets/gitHubCat.gif" alt="An Animated GitHub Logo" /></a>
      <p class="d-none d-xl-flex">Built by Andrew &nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp;2024 &nbsp;Ⓒ&nbsp; All Rights Reserved</p>
      <a href="mailto:Andrew.Moses.Smith@gmail.com"><img class="d-none d-xl-flex" src="./assets/google.gif" alt="An Animated Google Logo" /></a>
      <p class="d-flex d-xl-none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Built by Andrew <br> 2024 &nbsp;Ⓒ&nbsp; All Rights Reserved</p>
    </div>
    <div class="home-scroll-button align-items-center justify-content-center" (click)="scrollToBottom()">↓</div>
  </footer>

</main>